*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcfcf;
}

body {
    height: 100vh;
    background-color: #505050;
    display: flex;
    flex-flow: column;
}

h1 {
    text-align: center;
    font-size: 90px;
    padding: 20px;
}

.main {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#canvaDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: 1vh;
}
  
.canvaSquare {
    border: 1px solid #202020;
    flex: 1;
    border-radius: 12%;
}

.controls {
    display: flex;
    align-items: center;
    gap: 1vh;
}

#gridSlider {
    border-radius: 0px;
}

#clearButton {
    border: 1px solid #202020;
    background-color: #404040;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    transition: all 0.1s;
}

.clearActive {
    transform: scale(1.1);
}

footer {
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 0 1 40px;
    gap: 20px;
    font-size: 25px;
    font-family: Tahoma, sans-serif;
}

.githubHover {
    transform: scale(1.1);
}
